<div class="container-fluid">
	<div class="col-md-offset-1" *ngIf="showErrorPage">
		<h1>{{ errorMsg }}</h1>
	</div>
	<div class="row" *ngIf="!showErrorPage">
		<div class="col-md-offset-1" [ngClass]="{'col-md-5': defaultFocus, 'col-md-3': rightFocus}">
			<div class="row">
				<h1 class="clickable-header" (click)="changeTaskSize()">
					<span class="fa" [ngClass]="{'fa-caret-right': !expandTask, 'fa-caret-down': expandTask}"></span>
					{{ taskDetail.taskName }}
				</h1>
				<div *ngIf="expandTask">
					<h3>Description</h3>
					<markdown [md]="taskDetail.description"></markdown>
					<pdf *ngIf="hasTaskPdf" [file]="'api/v1/tasks/' + taskDetail.taskId + '/file'"></pdf>
				</div>
			</div>
			<div class="row">
				<h1 class="clickable-header" (click)="changeSubmissionSize()">
                    <span class="fa"
                          [ngClass]="{'fa-caret-right': !expandSubmission, 'fa-caret-down': expandSubmission}"></span>
					Submission
				</h1>
				<div *ngIf="expandSubmission">
					<div *ngIf="pdfSubmission">
						<pdf *ngIf="displaySubmission"
						     [file]="'api/v1/submissions/' + taskDetail.taskId + '/' + taskDetail.authorId + '/file'"></pdf>
                        <span *ngIf="!displaySubmission">
	                        <alert [dismissible]="false">No pdf was submitted.</alert>
                        </span>
					</div>
					<div class="markdown" *ngIf="!pdfSubmission && !fileSubmission">
						<markdown [md]="submissionText"></markdown>
					</div>
					<div *ngIf="fileSubmission">
						<a *ngIf="displaySubmission" href="api/v1/submissions/{{ taskDetail.taskId }}/{{ taskDetail.authorId }}/file" class="btn btn-default">
							<span class="fa fa-download"></span> Download submission
						</a>
                        <span *ngIf="!displaySubmission">
	                        <alert [dismissible]="false">No file was submitted.</alert>
                        </span>
					</div>
				</div>
			</div>
		</div>

		<div [ngClass]="{'col-md-5': defaultFocus, 'col-md-7': rightFocus}">
			<h1 class="clickable-header page-title" (click)="setRightFocus()">
				<span class="fa" [ngClass]="{'fa-compress': rightFocus, 'fa-expand': defaultFocus}"></span>
				Reviews <small> review deadline {{ taskDetail.reviewDeadline | moment:"YYYY-MM-DD HH:mm" }}</small></h1>

            <span *ngIf="!deadlinePassed">
                <alert [dismissible]="false">Reviews will become visible after the review deadline has passed.</alert>
            </span>
			<h4 *ngIf="deadlinePassed">Grade
				<small>
					<span *ngIf="taskDetail.grade != undefined">{{ taskDetail.grade }}</span>
					<span *ngIf="taskDetail.grade == undefined">-</span>
				</small>
			</h4>
			<table class="table row-hover" *ngIf="deadlinePassed">
				<thead>
				<tr>
					<th class="col-md-1"></th>
					<th class="col-md-2">Author</th>
					<th class="col-md-1">Grade</th>
				</tr>
				</thead>
				<tbody *ngFor="let review of taskDetail.reviews; let i = index">
				<tr (click)="reviewExpand(i)" [ngClass]="{'warning': review.flagged}">
					<td>
                        <span>
                            <i *ngIf="expanded[i]" class="fa fa-caret-down"></i>
                            <i *ngIf="!expanded[i]" class="fa fa-caret-right"></i>
                        </span>
					</td>
					<td>{{ review.authorName }}</td>
					<td>{{ review.grade }}</td>
				</tr>
				<tr *ngIf="expanded[i]" class="disable-hover" [ngClass]="{'warning': review.flagged}">
					<td colspan="7">
						<review-template [editable]="false" [template]="taskDetail.reviewTemplateId"
						                 [review]="review.reviewId"></review-template>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


