<div class="container">
    <h1>My Tasks</h1>
    <p>This page contains a list of your tasks grouped by task list. Task lists are sorted earliest deadline first.</p>
    <messages *ngIf="messages.length > 0" [messages]="messages"></messages>
    <div class="row">
        <table class="table row-hover">
            <thead>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-2">Task List</th>
                <th class="col-md-2">Submitted / Total</th>
                <th class="col-md-2">Author</th>
                <th class="col-md-2">Deadline</th>
                <th class="col-md-2">Status</th>
            </tr>
            </thead>
            <tbody *ngFor="let taskOverview of page.content; let i = index">
            <tr (click)="taskListExpand(i)">
                <td>
                    <span>
                        <i *ngIf="expanded[i]" class="fa fa-caret-down"></i>
                        <i *ngIf="!expanded[i]" class="fa fa-caret-right"></i>
                    </span>
                </td>
                <td>{{ taskOverview.taskListName }}</td>
                <td>{{ taskOverview.submittedSubmissionsCount }} / {{ taskOverview.taskCount }}</td>
                <td>
                    <span *ngIf="taskOverview.submissionAudience == 'GROUP'" class="fa fa-users"></span>
                    <span *ngIf="taskOverview.submissionAudience == 'INDIVIDUAL'" class="fa fa-user"></span>
                    {{ taskOverview.authorName }}
                </td>
                <td>{{ taskOverview.submissionDeadline | moment:"YYYY-MM-DD HH:mm" }}</td>
                <td>{{ taskOverview.state | enumCleaner }}</td>
            </tr>
            <tr *ngIf="expanded[i]" class="disable-hover">
                <td colspan="7">
                    <task-expand tasklist-id="{{ taskOverview.taskListId }}"></task-expand>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination pull-right">
                <li *ngIf="!page.first">
                    <a (click)="prevPage()" aria-label="Previous">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>
                <li *ngFor="let i of getNumber(page.totalPages); let i = index"><a (click)="navigate(i)">{{ i+1 }}</a></li>
                <li *ngIf="!page.last">
                    <a (click)="nextPage()" aria-label="Next">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>